/****** General ***********/
* {
  font-family: 'Raleway', sans-serif;
  scroll-behavior: smooth;
}

:root {
  --main-color: #0065FC;
  --main-bg-color: #F2F2F2;
  --filter-bg-color: #DEEBFF;
  --button-hover: #55a4f5;
}

a {
  color: inherit;
  text-decoration: none;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h6,
p {
  margin: 0;
}

h2 {
  font-size: 22px;
  font-weight: 700;
}

h3 {
  font-size: 16px;
  font-weight: 700;
}

h4 {
  font-size: 18px;
  font-weight: 700;
}

.subtitle {
  font-size: 16px;
  font-weight: 400;
}

p {
  font-size: 16px;
  font-weight: 400;
}

.fa-solid {
  color: var(--main-color);
}

.fa-magnifying-glass {
  display: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  gap: 35px;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 79px;
  max-width: 1440px;
  padding: 0 50px;
  background-color: white;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo {
  height: 30%;
  width: auto;
  object-fit: contain;
  align-self: center;
}

.header__nav {
  align-self: start;
  display: flex;
}

.header__nav-list {
  padding: 0;
  display: flex;
  height: 35px;
  gap: 5em;
  margin: 0;
}

.header__nav-item {
  display: flex;
  align-items: end;
  list-style: none;
}

.header__nav-item:hover {
  border-top: solid 2px;
  border-color: var(--main-color);
}

.header__nav-link:active {
  color: var(--main-color);
}

.header__nav-link:hover {
  color: var(--main-color)
}

main {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 40px;
  overflow-x: hidden;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.info-group {
  max-width: 1440px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  gap: 35px;
}

.info-group__header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.info-group__subtitle {
  margin: 0;
}

.searchbar {
  width: auto;
  height: 49px;
  display: flex;
}

.searchbar__icon {
  background-color: var(--main-bg-color);
  color: black;
  border-radius: 0.5em 0 0 0.5em;
  padding: 1em 0.7em;
  align-self: center;
}

.searchbar__input {
  text-align: left;
  padding-left: 1em;
  min-width: 200px;
  border: none;
  border-top: 1px solid var(--main-bg-color);
  border-bottom: 1px solid var(--main-bg-color);
}

.searchbar__input::placeholder {
  opacity: 1;
  font-size: 18px;
  font-weight: 700;
  color: black;
}

.searchbar__button {
  background-color: var(--main-color);
  color: white;
  border-radius: 0 1em 1em 0;
  font-size: 18px;
  font-weight: 700;
  border: none;
  padding-left: 1em;
  padding-right: 1em;
}

.searchbar__button:hover {
  background-color: var(--button-hover);
}


.filter-list {
  display: flex;
  width: auto;
  height: 50px;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.filter-list__title {
  font-size: 18px;
  font-weight: 700;
}

.filter-item__wrapper {
  display: flex;
  gap: 15px;
  height: 100%;
}

.filter-item {
  display: flex;
  align-items: center;
  padding: 1em;
  gap: 10px;
  border: solid 2px var(--main-bg-color);
  border-radius: 25px;
}

.filter-item:hover {
  background-color: var(--main-bg-color);
}

.filter-item>p {
  margin: 10px 0;
  font-size: 17px;
  font-weight: 700;
  color: black;
}

.info-group__footer {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.info-group__footer>i {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: solid 1px var(--main-bg-color);
}

.info-group__footer>p {
  font-size: 16px;
  font-weight: 400;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  display: flex;
  gap: 4px;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color)
}

/****** lodging And popular ***********/
.lodging-and-popular {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.lodging-and-popular section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** lodging ***********/
.lodging {
  width: auto;
  gap: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-width: 60%;

}

.lodging__row {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  box-sizing: border-box;
}

.lodging__card {
  width: calc(33% - 8px);
  padding: 4px 4px 10px 4px;
  background: #fff;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
}

.lodging__card a {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.lodging__card img {
  width: 100%;
  height: 124px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  box-sizing: border-box;
}

.lodging__card-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 15px;
}

.lodging__card-txt {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.show-more {
  font-weight: 700;
}

/****** popular ***********/
.popular {
  width: 32%;
}

.popular-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-cards .card {
  display: flex;
  margin-top: 33px;
}

.popular-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.popular-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.popular-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.popular-cards .card-subtitle {
  margin: 0;
}

.popular-cards .card-rating {
  margin-bottom: 5px;
}

/*********** Activity *************/
#activity {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.activity__card {
  width: 25%;
  box-shadow: 0px 3px 15px 0px #0000001A;
  border-radius: 20px;
}

.activity__card-wrapper {
  display: flex;
  gap: 2em;
}

.activity__card-image {
  width: 100%;
  height: 380px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.activity__card-text {
  padding: 20px 0 20px 20px;
  border-radius: 0 0 7% 7%;
}

footer {
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: space-between;
}

.footer__wrapper {
  width: 33%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.footer__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.footer__link {
  font-size: 16px;
  font-weight: 400;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .lodging-and-popular {
    flex-direction: column;
  }

  .lodging {
    width: 100%;
  }

  .popular {
    width: 100%;
    margin-top: 50px;
  }

  .popular-cards {
    display: flex;
    justify-content: space-between;
  }

  .popular-cards a {
    width: 30%;
  }

  .popular-cards .card-title {
    font-size: 14px;
  }

  .popular-cards .card-subtitle {
    font-size: 13px;
  }

  .activity__card-wrapper {
    gap: 1em;
  }

  .activity__card-text {
    padding: 20px;
  }

  .activity__card-image {
    height: 200px;
  }

  .card-content {
    gap: 24px;
  }

  .filter-list {
    height: 100%;
  }

  .filter-item p {
    font-size: 16px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

  main {
    padding: 0;
  }

  header {
    height: 100%;
    flex-direction: column;
    padding: 0;
  }

  .header__logo {
    height: 19px;
    padding: 30px;
  }

  .header__nav-item {
    align-items: flex-start;
    width: 50%;
    justify-content: space-around;
  }

  .header__nav-list {
    width: 100%;
    gap: 0;
  }

  .header__nav {
    align-self: center;
    width: 100%;
  }

  .header__nav-item:hover {
    border-bottom: solid 2px;
    border-top: 0;
    border-color: var(--main-color);
  }

  .info-group {
    padding: 0 20px 0 20px;
  }

  .searchbar__input {
    width: 100%;
  }

  .searchbar__button {
    display: none;
  }

  .fa-magnifying-glass {
    display: block;
    padding: 15px;
    background-color: var(--main-color);
    color: #fff;
    border-radius: 25%;
    position: relative;
    right: 1em;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .fa-magnifying-glass:hover {
    background-color: var(--button-hover)
  }

  div.filter-item__wrapper>div {
    flex-basis: calc(50% - 15px);
  }

  .filter-item__wrapper {
    flex-wrap: wrap;
  }

  .filter-item {
    justify-content: center;
  }

  span.filter-item>p {
    font-size: 14px;
    font-weight: 700;
  }

  .lodging-and-popular {
    flex-direction: column-reverse;
    gap: 15px;
  }

  .lodging-and-popular>section {
    display: flex;
    flex-direction: column;
    margin: 0;
    border-radius: 0;
    padding: 30px 20px 30px 20px;
    gap: 15px;
  }

  .popular-cards {
    flex-direction: column;
    gap: 15px;
  }

  .popular-cards a {
    width: 100%;
  }

  .popular-cards .card {
    margin-top: 0;
  }

  .lodging__row {
    flex-direction: column;
    gap: 15px;
  }

  .lodging__card {
    width: 100%;
  }

  section.lodging {
    background-color: #fff;
  }

  .activity__card-wrapper {
    flex-direction: column;
  }

  .activity__card {
    width: 100%;
    height: 200px;
  }

  .activity__card-image {
    height: 141px;
  }

  footer {
    flex-direction: column;
    gap: 50px;
    padding: 30px;
  }

  .footer__wrapper {
    width: 100%;
    gap: 15px;
  }

  .footer__list {
    gap: 15px;
  }
}